<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.udig.omsbox.category"
            name="Spatial Toolbox">
      </category>
      <view
            allowMultiple="false"
            category="eu.udig.omsbox.category"
            class="eu.udig.omsbox.view.OmsBoxView"
            fastViewWidthRatio="0.30"
            icon="icons/blocks.gif"
            id="eu.udig.omsbox.view.OmsBoxView"
            name="Spatial Toolbox"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="eu.udig.omsbox.viewContribution"
            targetID="eu.udig.omsbox.view.OmsBoxView">
         <action
               class="eu.udig.omsbox.view.actions.OmsBoxSettingsAction"
               icon="icons/settings.gif"
               id="eu.udig.omsbox.view.actions.OmsBoxSettingsAction"
               label="Open Settings"
               style="push"
               toolbarPath="omsboxtoolbar"
               tooltip="Open the settings panel">
         </action>
         <action
               class="eu.udig.omsbox.view.actions.OmsScriptGenerationAction"
               icon="icons/generate_script.gif"
               id="eu.udig.omsbox.view.actions.OmsScriptGenerationAction"
               label="Generate Script"
               style="push"
               toolbarPath="omsboxtoolbar"
               tooltip="Generate a script without running it">
         </action>
         <action
               class="eu.udig.omsbox.view.actions.OmsScriptExecutionAction"
               icon="icons/run_script.gif"
               id="eu.udig.omsbox.view.actions.OmsScriptExecutionAction"
               label="Run Script"
               style="push"
               toolbarPath="omsboxtoolbar"
               tooltip="Run a script file">
         </action>
         <action
               class="eu.udig.omsbox.view.actions.OmsModelsExecutionAction"
               icon="icons/run_module.gif"
               id="eu.udig.omsbox.view.actions.OmsModelsExecutionAction"
               label="Run Module"
               style="push"
               toolbarPath="omsboxtoolbar"
               tooltip="Run the selected module">
         </action>
         <action
               class="eu.udig.omsbox.view.actions.OmsStopExecutionAction"
               icon="icons/stop_module.gif"
               id="eu.udig.omsbox.view.actions.OmsStopExecutionAction"
               label="Stop process"
               style="push"
               toolbarPath="omsboxtoolbar"
               tooltip="Stop a running process">
         </action>
         <action
               class="eu.udig.omsbox.view.actions.ProcessingRegionToggleAction"
               disabledIcon="icons/processingregion_disabled.png"
               icon="icons/processingregion.png"
               id="eu.udig.omsbox.view.actions.ProcessingRegionToggleAction"
               label="Toggle processing region"
               state="false"
               style="toggle"
               toolbarPath="omsboxtoolbar"
               tooltip="Consider/Ignore the processing region in the modules">
         </action>
      </viewContribution>
   </extension>
</plugin>
