*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.swp
*.swp~
eu.hydrologis.jconsole/bin
eu.hydrologis.jgrass.jconsole/bin
eu.hydrologis.stage/bin
eu.udig.jconsole/bin
stage_rap/eu.hydrologis.stagerap/bin
stage_rap/eu.hydrologis.stageraplibs/bin
eu.udig.omsbox/bin
stage_rap/org.eclipse.rap.addons.filedialog/bin
stage_rap/org.eclipse.rap.addons.fileupload/bin
